# Add to the frontend and backend folder
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

SECRET_KEY=""

VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
VITE_SUPABASE_SERVICE_ROLE_KEY=""

ENVIRONMENT=development
DEBUG=True

API_KEY=""



# In Supabase go to Project Settings > General 
SUPABASE_URL="https://[Project ID].supabase.co"

# Navigate to Project Settings > API Keys
SECRET_KEY="sb.secret...."

# Second tab
SUPABASE_ANON_KEY="anon public"
SUPABASE_SERVICE_ROLE_KEY="service_role secret"

#for frontend use, same values as above
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
VITE_SUPABASE_SERVICE_ROLE_KEY=""

ENVIRONMENT=development
DEBUG=True

#api key from https://api.openrouteservice.org/
API_KEY=""